
* {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}

body {
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin-bottom: 20px;
  
}
.progress_bar{
  width: 100%;
  height: 25px;
  background-color: white;
  border-radius: 5px;
 
}
.app {
  background-color: #252d4a;
  width: 550px;
  margin-inline: auto;
  min-height: 300px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;

}
.app section{
   margin-inline: auto;
   height: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}
.answerBar{
  width: 40%;
  height: 50px;
  margin-left: 15px;
 margin-right: 15px;
 text-align: center;
 display: flex;
 flex-direction: column;
}
.app section p{
  font-size: 20px;
 text-align: center;

}
.answerBar h5{
   font-size: 16px;
}
.app p{
  font-size: 16px;
}
.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
  justify-content: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 25px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  
  flex-direction: column;
  justify-content: space-between;
}

.app button {
  width: 100%;
  font-size: 20px;
  
   margin-bottom: 5px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  height: 45px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}
@media(max-width: 700px){
  .app{
    width: 95%;
  }
.answerBar{
  min-width: 50%;
  
}
}